.pageSelector {
	display: flex;
	gap: 15px;
}

.pageSelector button {
	display: inline-block;
	cursor: pointer;
	background: #bbb;
	box-sizing: border-box;
	width: 30px;
	height: 22px;
	border: 1px solid black;
	border-radius: 2px;
	text-align: center;
	/*padding: 3px 3px;*/
	padding-top: 3px;
	user-select: none;
	transition: color 0.25s;
}

.pageSelector button:hover {
	color: #C44C49;
	transition: color 0.25s;
}

.page.current {
	font-weight: bold;
}